@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700;800&display=swap');
body {
  font-family: 'Josefin Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 203, 203);
}

h1 {
  color: rgb(4, 2, 115);
}

p {
  width: 600px;
  font-size: 18px;
}

a {
  font-size: 20px
}