<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('home_screen') }}">Home screen</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      <h1> Campaigns: </h1>
      <table>
         <thead>
            <tr>
               <th>campaign number</th>
               <th>passed_number</th>
               <th>failed_number</th>
            </tr>
         </thead>

         <tbody>
            {% for campaign in campaigns %}
               <tr>
                  <td>{{ campaign.campaign_number }}</td>
                  <td>{{ campaign.passed_number }}</td>
                  <td>{{ campaign.failed_number }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>