<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>Phishing Test</title>
</head>
<body>
    <h1>Phishing Test</h1>
    <h3>You failed the phishing test!
        Your company tests you with phishing campaign</h3>
    <p>
    Phishing is a common email-borne attack where the sender appears to be from a trusted source that the recipient often interacts with 
    - a bank, a credit card company, a delivery firm or the IRS are common examples. 
    The email may ask the employee to reply with sensitive data, or direct them to login to a website to gain access to information, 
    to reset their password or to avoid a negative consequence of some kind.
    </p>
    <h4>for best phishing tips for employees and more info visit</h4>
    <a href="https://www.mimecast.com/content/phishing-tips/">mimecast</a>
</body>
</html>