<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <a href = "{{ url_for('attackers_targets_info') }}">--Attackers and targets tables--</a>
    <a href = "{{ url_for('add_attacker_or_target') }}">--Add attacker or target--</a>
    <a href = "{{ url_for('new_campaign') }}">--Start new campaign--</a>
    <a href = "{{ url_for('show_campaign_data') }}">--campaign data--</a>
</head>
<body>
</body>
</html>
